@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,900&display=swap');
@media screen and (max-width: 480px) {
body {
background-color: green;
}
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
}

section {
    padding: 100px;
    background-color: gainsboro;
}

.banner {
    position: relative;
    min-height: 100vh;
    background: url(img/bw-photography.gif);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h2 {
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-weight: 1.5em;
}

.banner h2 span {
    font-size: 1.5em;
    font-weight: 700;
}

.btn {
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;   
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
/*
header .logo {
    color: black;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
*/

header .logo {
    background-color: dimgrey;
    border: 2px solid white;
    border-radius: 2em;
    cursor: pointer;
    padding: 15px 30px;
}
header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

header ul li a:hover {
    background: darkgrey;
}

heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

heading h2 {
    font-weight: 600;
    font-size: 30px;
}

.content {
    background-color: darkgrey;
}

contentBx {
    padding-right: 30px;
    
}
contentBx h3 {
    font-size: 24px;
    margin-bottom: 10px;    
}

.w50 {
    min-width: 50%;
}

img {
    max-width: 100%;
    
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* four equal columns next to each other (tablet) */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}